In [1]:
import pandas as pd
import json
from sklearn.model_selection import train_test_split

Download the Data from https://www.kaggle.com/datasets/rmisra/news-category-dataset

In [2]:
path = ""
workdata_path = "../working_data/"

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rmisra/news-category-dataset")

print("Path to dataset files:", path)

/home/y41000/repos/bert-vs-rag/.venv/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/rmisra/news-category-dataset?dataset_version_number=3...

100%|██████████| 26.5M/26.5M [00:02<00:00, 12.3MB/s]

Extracting files...

Path to dataset files: /home/y41000/.cache/kagglehub/datasets/rmisra/news-category-dataset/versions/3

In [4]:
# Copy the data to our wor diratory
# !cp  /Users/yhonain/.cache/kagglehub/datasets/rmisra/news-category-dataset/versions/3/News_Category_Dataset_v3.json /Users/yhonain/nlp_task/data/

In [5]:
data = pd.read_json(f'{path}/News_Category_Dataset_v3.json', lines = True)

In [6]:
data.shape

(209527, 6)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209527 entries, 0 to 209526
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   link               209527 non-null  object
 1   headline           209527 non-null  object
 2   category           209527 non-null  object
 3   short_description  209527 non-null  object
 4   authors            209527 non-null  object
 5   date               209527 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.6+ MB

In [8]:
pd.DataFrame(data['category'].value_counts()).join(
    pd.DataFrame(data['category'].value_counts(normalize=True))
)

                count  proportion
category
POLITICS        35602    0.169916
WELLNESS        17945    0.085645
ENTERTAINMENT   17362    0.082863
TRAVEL           9900    0.047249
STYLE & BEAUTY   9814    0.046839
PARENTING        8791    0.041956
HEALTHY LIVING   6694    0.031948
QUEER VOICES     6347    0.030292
FOOD & DRINK     6340    0.030259
BUSINESS         5992    0.028598
COMEDY           5400    0.025772
SPORTS           5077    0.024231
BLACK VOICES     4583    0.021873
HOME & LIVING    4320    0.020618
PARENTS          3955    0.018876
THE WORLDPOST    3664    0.017487
WEDDINGS         3653    0.017435
WOMEN            3572    0.017048
CRIME            3562    0.017000
IMPACT           3484    0.016628
DIVORCE          3426    0.016351
WORLD NEWS       3299    0.015745
MEDIA            2944    0.014051
WEIRD NEWS       2777    0.013254
GREEN            2622    0.012514
WORLDPOST        2579    0.012309
RELIGION         2577    0.012299
STYLE            2254    0.010758
SCIENCE          2206    0.010528
TECH             2104    0.010042
TASTE            2096    0.010003
MONEY            1756    0.008381
ARTS             1509    0.007202
ENVIRONMENT      1444    0.006892
FIFTY            1401    0.006686
GOOD NEWS        1398    0.006672
U.S. NEWS        1377    0.006572
ARTS & CULTURE   1339    0.006391
COLLEGE          1144    0.005460
LATINO VOICES    1130    0.005393
CULTURE & ARTS   1074    0.005126
EDUCATION        1014    0.004839

In [9]:
pd.crosstab(data[data['authors'].isin(list(data['authors'].value_counts()[:20].index))]['category'], data[data['authors'].isin(list(data['authors'].value_counts()[:20].index))]['authors'])

authors,,Andy McDonald,Bill Bradley,Carly Ledbetter,Caroline Bologna,Cole Delbyck,Curtis M. Wong,Dana Oliver,David Moye,Dominique Mosbergen,Ed Mazza,Igor Bobic,Julia Brucculieri,Lee Moran,Mary Papenfuss,Michelle Manetti,Nina Golgowski,"Reuters, Reuters",Ron Dicker,Sam Levine
category,,,,,,,,,,,,,,,,,,,,
ARTS,19,0,0,0,0,0,7,0,0,4,0,0,0,0,0,0,0,0,1,0
ARTS & CULTURE,32,4,0,1,1,3,6,0,6,3,6,0,5,41,6,0,7,0,3,0
BLACK VOICES,1008,14,0,1,0,0,4,2,53,6,12,0,0,31,7,0,35,23,40,1
BUSINESS,991,0,0,0,1,0,0,0,2,21,21,1,0,2,25,0,13,294,13,2
COLLEGE,111,0,0,0,0,0,0,0,0,3,2,0,0,0,0,0,2,1,1,0
COMEDY,729,857,167,4,0,9,0,0,59,25,343,0,15,841,129,0,8,0,414,0
CRIME,977,0,0,0,0,0,0,0,97,31,58,1,0,92,76,0,251,45,45,0
CULTURE & ARTS,370,0,0,0,0,0,1,0,0,1,0,0,0,2,0,0,0,1,0,0
DIVORCE,1731,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11,0,0
EDUCATION,9,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,1,0
ENTERTAINMENT,1779,168,827,768,0,1251,138,0,145,81,219,14,1019,491,69,0,56,38,658,5
ENVIRONMENT,664,0,0,0,0,0,0,0,1,3,0,0,0,0,13,0,2,124,6,0
FIFTY,113,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0
FOOD & DRINK,1804,2,0,5,8,0,0,0,1,0,0,0,0,0,0,0,0,1,3,0
GOOD NEWS,129,1,0,0,0,0,0,0,4,53,6,0,0,74,2,0,30,0,22,0
GREEN,559,0,0,1,0,0,0,0,0,50,16,0,0,2,76,0,25,0,11,0
HEALTHY LIVING,362,0,0,4,2,0,0,0,0,13,0,0,0,0,5,0,8,0,3,1
HOME & LIVING,794,0,0,0,25,0,0,1,0,0,0,0,0,0,0,831,0,2,0,0
IMPACT,177,0,0,0,0,0,0,0,0,14,1,0,0,12,0,0,9,9,1,1
LATINO VOICES,152,0,0,0,0,0,1,0,8,1,0,0,0,6,2,0,7,0,9,0
MEDIA,391,2,0,1,0,0,0,0,16,32,224,0,0,80,55,0,7,0,22,9
MONEY,216,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,81,20,0
PARENTING,2270,0,0,1,48,0,0,0,2,12,1,0,0,0,0,0,0,53,47,0
PARENTS,114,0,0,7,742,0,0,0,15,24,11,0,0,41,0,0,21,0,9,0
POLITICS,3626,9,0,4,1,0,11,0,165,166,347,890,0,531,859,0,144,0,83,877
QUEER VOICES,1067,6,0,0,0,1,971,0,17,12,11,0,0,6,3,0,21,21,17,1
RELIGION,391,0,0,0,1,0,0,0,4,7,7,0,0,7,7,0,8,0,6,0
SCIENCE,476,5,0,0,0,0,0,0,1,45,53,0,0,46,20,0,21,15,18,0
SPORTS,940,15,3,5,1,2,2,0,17,36,55,1,0,111,14,0,31,5,420,2
STYLE,128,0,0,148,0,0,0,184,2,6,0,0,20,3,0,0,1,0,6,0
STYLE & BEAUTY,2527,0,0,9,6,0,1,749,1,2,0,0,4,0,0,45,0,6,4,0
TASTE,56,1,0,106,1,0,0,0,8,3,4,0,0,12,0,0,1,0,12,0
TECH,422,2,0,0,1,0,0,0,6,15,0,0,0,18,18,0,13,131,5,1
THE WORLDPOST,1466,0,0,0,0,0,0,0,0,20,4,0,0,25,10,0,27,0,6,5
TRAVEL,1405,0,0,91,14,0,0,0,3,3,21,0,0,4,0,0,11,56,9,0
U.S. NEWS,284,1,0,1,0,0,1,0,8,69,4,0,0,29,67,0,93,0,10,0
WEDDINGS,1948,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,3,2,0
WEIRD NEWS,418,11,0,1,1,0,0,0,411,26,150,0,0,393,29,0,142,0,269,0
WELLNESS,5000,0,0,1,8,0,0,0,0,11,0,0,0,0,0,0,0,642,6,0
WOMEN,370,1,0,1,27,0,3,0,8,5,0,0,0,25,12,0,5,0,9,0
WORLD NEWS,619,1,0,9,0,0,0,0,6,126,10,0,0,28,61,0,53,1,4,0
WORLDPOST,774,0,0,0,0,0,0,0,0,3,4,0,0,0,0,0,0,0,2,0

In [10]:

perc = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,0.99]
data['news'] = data['headline'] +' -- '+ data['short_description']
pd.concat([
    pd.DataFrame(data['headline'].str.len().describe(percentiles=perc)),
    pd.DataFrame(data['short_description'].str.len().describe(percentiles=perc)),
    pd.DataFrame(data['news'].str.len().describe(percentiles=perc))
], axis=1)

            headline  short_description           news
count  209527.000000      209527.000000  209527.000000
mean       58.415355         114.208670     176.624025
std        18.808506          80.840575      78.552970
min         0.000000           0.000000       4.000000
10%        33.000000           9.000000      79.000000
20%        42.000000          46.000000     112.000000
30%        49.000000          70.000000     137.800000
40%        55.000000          94.000000     158.000000
50%        60.000000         120.000000     174.000000
60%        64.000000         122.000000     187.000000
70%        69.000000         126.000000     202.000000
80%        74.000000         163.000000     225.000000
90%        81.000000         233.000000     283.000000
99%       101.000000         321.000000     381.740000
max       320.000000        1472.000000    1490.000000

# DATA PROCESSING

In [11]:
data_work = data[['news', 'category']]

In [12]:
rest, validation = train_test_split(data_work,test_size=0.3 ,random_state=2025, stratify =data['category'])

In [13]:
validation.to_excel(f'{workdata_path}validation.xlsx', index=False)
validation.shape

(62859, 2)

In [14]:
proportions = [0.001, 0.005, 0.01, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5]
for p in proportions:
    _, v = train_test_split(rest,test_size=p,random_state=2025 ,stratify =rest['category'])
    v.to_excel(f'{workdata_path}prop_{p}.xlsx', index=False)
rest.to_excel(f'{workdata_path}prop_1.xlsx', index=False)

In [58]:
data_work

,headline,short_description,category
0,Over 4 Million Americans Roll Up Sleeves For O...,Health experts said it is too early to predict...,U.S. NEWS
1,"American Airlines Flyer Charged, Banned For Li...",He was subdued by passengers and crew when he ...,U.S. NEWS
2,23 Of The Funniest Tweets About Cats And Dogs ...,"""Until you have a dog you don't understand wha...",COMEDY
3,The Funniest Tweets From Parents This Week (Se...,"""Accidentally put grown-up toothpaste on my to...",PARENTING
4,Woman Who Called Cops On Black Bird-Watcher Lo...,Amy Cooper accused investment firm Franklin Te...,U.S. NEWS
...,...,...,...
209522,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,Verizon Wireless and AT&T are already promotin...,TECH
209523,Maria Sharapova Stunned By Victoria Azarenka I...,"Afterward, Azarenka, more effusive with the pr...",SPORTS
209524,"Giants Over Patriots, Jets Over Colts Among M...","Leading up to Super Bowl XLVI, the most talked...",SPORTS
209525,Aldon Smith Arrested: 49ers Linebacker Busted ...,CORRECTION: An earlier version of this story i...,SPORTS
209526,Dwight Howard Rips Teammates After Magic Loss ...,The five-time all-star center tore into his te...,SPORTS